{% extends "::layout/layout.html.twig" %}





{% block body %}
    
    <h1 align="center" class ="titre_index"> MegaCastings</h1>
    
    <img class="img_index" src="..\images\indexe.jpg" alt="Nouveau !" /> 
    <br/>
    <br/>
    <p><b>MegaProduction</b> est une société de production créée en janvier 2003.</p>

    <p>Parce que le milieu artistique est un monde qui compte beaucoup d'abus, <b>MegaProduction</b> souhaite créer un site Internet de castings <i>« MegaCastings »</i> 
        qui serait à la fois clair, professionnel et digne de confiance.</p>


    <p>C'est pour cette raison que <b>MegaCastings</b> s’engage à être au contraire actif et réactif en permanence dans leur recherche de castings auprès d’un réseau de partenaires ; 
        c'est également pour cette raison que <b>MegaCastings</b> vérifiera systématiquement les informations des professionnels souhaitant publier des castings en les contactant par 
        téléphone afin de garantir le sérieux des annonces.<p>


    <p>MegaCastings se veut être un point de rencontre entre professionnels à la recherche de nouveaux talents et artistes désireux de faire leur entrée dans le monde du spectacle.</p>
<br/>

    <table align="center" class="mosaique" border="0" cellpadding="0" cellspacing="0"> 
        <tr> 
            <td><IMG SRC="..\images\cine2.jpg"></td> 
            <td><IMG SRC="..\images\casting.jpg"></td> 
            <td><IMG SRC="..\images\musique2.jpg"></td> 
        </tr> 
        <tr>
            <td><IMG SRC="..\images\musique.jpg"></td>
            <td><IMG SRC="..\images\cinema.jpg"></td>
            <td><IMG SRC="..\images\theatre.jpg"></td>
        </tr>
    </table> 

{% endblock %}