{% extends "::layout/layout.html.twig" %}




<!--        {% if artistes|length != 0 %}
                <ul class="thumbnails">
                {% for artiste in artistes %}
                    <li class="span3">
                        <div class="thumbnail">
      
                            {{ offre.libelle }}
                            {{ offre.DateDebut }}
                            {{ artiste.DateNaissance }}

                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

                <div class="navigation">
                    {{ knp_pagination_render(artistes) }}
                </div>
                
            {% else %}
                    Aucun artistes
            {% endif %}

            
       -->     
            
            list of bananas
                
                