# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/nbproject/private/
app/cache/dev/annotations/dd8f554b00e32a7de7825a38159a5ec169d8c61a$adresse.cache.php
app/cache/dev/annotations/dd8f554b00e32a7de7825a38159a5ec169d8c61a$adresse.cache.php
app/cache/dev/annotations/dd8f554b00e32a7de7825a38159a5ec169d8c61a$competences.cache.php
app/cache/dev/annotations/dd8f554b00e32a7de7825a38159a5ec169d8c61a$offres.cache.php
app/cache/dev/annotations/ede615810ee55034c274ca3cdfcf926d0a5dbef4$utilisateur.cache.php
app/cache/dev/annotations/dd8f554b00e32a7de7825a38159a5ec169d8c61a$multimedias.cache.php
app/cache/dev/annotations/dd8f554b00e32a7de7825a38159a5ec169d8c61a$multimedias.cache.php
app/cache/dev/annotations/dd8f554b00e32a7de7825a38159a5ec169d8c61a$competences.cache.php
app/cache/dev/annotations/dd8f554b00e32a7de7825a38159a5ec169d8c61a$historiques.cache.php