body {
    padding-bottom: 40px;
    padding-top: 60px;
    max-height: 50px;
    max-width: 70%;/* inqique que le body ne prendra que * % de la fenêtre*/
    margin: auto;
   background-color: whitesmoke;



}


.loading {
    float:right;
    margin-right:115px;
    width:30px;
    height:30px;
    display:block;
    background:url('../../img/loading.gif');
}
/* gestion de la barre de naviguation*/
.navbar-inverse .navbar-inner {     
    background-image: linear-gradient(to bottom, #8B0000 , #8B0000 );

}


.navbar-inverse .brand {
  color: whitesmoke;
}

.navbar-inverse .brand:hover {
  color: black;
}

p
{
    width: auto; /* On a indiqué une largeur (obligatoire) */
    margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
    text-align: justify;
    padding: 12px;
}
/* Aligne l'image a gauche du texte'*/
.imageAGauche {
    float:left;
}
/* Aligne l'image a droite du texte'*/
.imageAdroite {
    float:right;
}
/* Texte a disposer en dessous quand l'on utilise imageADroite ou imageAGauche*/
.dessous
{
    clear: both;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #8B0000;
  background: whitesmoke;
  padding: 5px 13px 5px 13px;
  text-decoration: none;
}

.btn:hover {
  background: white;
  text-decoration: none;
}